@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("https://media.istockphoto.com/id/1334591614/photo/man-using-digital-tablet-online-connect-to-internet-banking-currency-exchange-online-shopping.jpg?s=1024x1024&w=is&k=20&c=ho97hTtpbzO2oM5e8EDdGf8a6ZLRZr94gWxBAnRMzLk=");
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    border: 0px solid pink;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-image: linear-gradient(to right, rgb(199, 156, 216), rgb(97 75 159), rgb(173 78 159));
}

.logo {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: #3b738d 3px 3px;
    text-shadow: 2px 2px 6px #2ec4ff;
}

.logo img {
    margin-top: 10px;
}

.logo:hover {
    color: #2399c7;
    text-shadow: 6px 4px white;
}

.menu {
    margin-right: 30px;
    display: flex;
    gap: 30px;
    color: #ffffff;
    /* color: rgb(66, 22, 119); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu p {
    font-size: 17px;
}

.home {
    display: flex;
    gap: 5px;
    align-items: center;
    padding:8px 4px;
}

a{
    text-decoration: none;
    /* color: rgb(66, 22, 119); */
    color:#ffffff;
}
a:hover{
    color:#1ba6dd;
}

.ser {
    display: flex;
    gap: 5px;
    align-items: center;
    padding:8px 4px;
    /* color:#1ba6dd; */
    position: relative;

}

.servo{
    width:200px;
    height:300px;
    display: none;
    position:absolute;
    top:40px;
    left:-30px;
    background-color: #ffffff;
}

.ser:hover .servo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    color:#1ba6dd
}
.servo a{
    text-decoration: none;
    color:black;
    padding:8px 4px;
}


.care {
    display: flex;
    gap: 5px;
    align-items: center;
    padding:8px 4px;
}

.us {
    display: flex;
    gap: 5px;
    align-items: center;
    padding:8px 4px;

}

.cont {
    display: flex;
    gap: 5px;
    align-items: center;
    padding:8px 4px;
}

.home:hover {
    border: 1px solid #1ba6dd;
    border-radius: 10px;
    color: #1ba6dd;
    background-color: white;
    text-decoration: none;
    transition: 1s;
    transform: 0.8;
}


.ser:hover {
    border: 1px solid #1ba6dd;
    border-radius: 10px;
    color: #1ba6dd;
    background-color: white;
    transition: 1s;
    transform: 0.8;
    text-decoration: none;

}

.care:hover {
    border: 1px solid #1ba6dd;
    border-radius: 10px;
    color: #1ba6dd;
    background-color: white;
    text-decoration: none;
    transition: 1s;
    transform: 0.8;

}

.us:hover {
    border: 1px solid #1ba6dd;
    border-radius: 10px;
    color: #1ba6dd;
    background-color: white;
    text-decoration: none;
    transition: 1s;
    transform: 0.8;

}

.cont:hover {
    border: 1px solid #1ba6dd;
    border-radius: 10px;
    color: #1ba6dd;
    background-color: white;
    text-decoration: none;
    transition: 1s;
    transform: 0.8;
}

.side-icon{
    width:40px;
    height:40px;
    padding:12px;
    display:flex;
    flex-direction: column;
    gap:5px;
    align-items:center;
  
}
.bur{
    width:30px;
    height:3px;
    background-color: #110404;
}
.side{
    position: relative;
    z-index: 9999;
}
.slideNav{
    position: fixed;
    width: 400px;
    top: 0px;
    right: -100%;
    transition: right 1s;
    background-color: white;

}
.fa-xmark{
    color:#110404;
}
.linkss a{
    padding: 10px 25px;
    border-bottom: 1px solid gray;
    display:flex;
    text-decoration: none;
    margin:20px auto;
    color:#110404;
}
#mm{
    display: none;
}
#mm:checked ~ .slideNav{
    right: 0;
}
.side{
    display: none;
}

.web {
    border: px solid white;
    width: 100%;
    height: 300px;
    background-image: url("https://img.freepik.com/premium-photo/strategic-hr-management-concept-recruitment-employment-headhunting_1079468-5338.jpg?ga=GA1.1.563283759.1727689992&semt=ais_hybrid");
    position:relative;
    background-repeat:no-repeat;
    background-size: cover; 
}
.zuno{
    color: white;
    padding-left: 70px;
    padding-top: 60px;
    font-size: 2rem;
}
.zuno p{
    font-size: 20px;
}


.main {
    color: white;
}
.head {
    display: flex;
}

.content {
    border: 0px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    top:0px;
}

.img {
    border-radius: 30px;
    width: 50%;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    transition: 1s;
}
.img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.para {
    width: 40%;
    margin-top: 40px;
    font-size: 1.2rem;
}

.part1 {
    border: 1px solid black;
    width: 80%;
    margin-left: 150px;
    margin-top: 30px;
}

.content1 {
    border: 0px solid black;
    width: 80%;
    border-radius: 20px;
    background-color: #bbefff;
    color: black;
    margin: auto;
}

.fro {
   width: 100%;
   font-size: 1.5rem;
   text-align: center;
   padding: 20px;
}
.frontend {
    align-items: center;
    display: flex;
    gap: 70px;
    padding: 20px;
}

.front img {
    width: 100%;
    height: 100%;
}
.front {
    border-radius: 30px;
    overflow: hidden;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.front img:hover{
    cursor: pointer;
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
.head1 {
    width: 70%;
    font-size: 1.5rem; 
}

.content2 {
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    color: white;
    background-color: rgb(99, 12, 83);
}

.back {
    font-size: 27px;
    text-align: center;
    padding: 20px;
}

.backend {
    align-items: center;
    display: flex;
    gap: 70px;
    padding: 50px;
}
.head2 {
    font-size: 1.5rem;
}
.backimg {
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
}
.backimg img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.backimg img:hover{
    cursor: pointer;
    transform: scale(0.7);
}
.content3 {
    border: 0px solid black;
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
}

.head3 {
    font-size: 1.5rem;
    text-align: center;

}

.full{
    width: 60%;
    height: 70vh;
    margin: 30px auto;
}
.full img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.full img:hover{
    cursor: pointer;
    transform: scale(0.6);
}


.stack {
    width: 60%;
    margin: 30px auto;
    font-size: 1.3rem;
    text-align: center;
}

.stack p {
    padding-top: 15px;
}

.content4 {
    border: 0px solid black;
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
}

.head4 {
    font-size: 1.5rem;
    padding-left: 30px;
    text-align: center;
    padding-top: 20px;
}

.host{
    border-radius: 30px;
    width: 50%;
    height: 60vh;
    overflow: hidden;
}

.host img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.host img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hosting {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.host1{
    border-radius: 30px;
    width: 50%;
    height: 60vh;
    overflow: hidden;
}
.host1 img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.host1 img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.webhost {
    width: 70%;
    margin: 40px auto;
    font-size: 1.3rem;
    padding: 30px ;
    border-radius: 20px;
    color: black;
    background-color: white;
}

.content5 {
    border: 0px solid black;
    width: 100%;
    background-color:#092636;
    margin: 50px auto;
    border-radius: 30px;
}

.head5 {
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.websec {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 30px auto;
    background-color:white;
    color:black;
    padding: 20px;
    border-radius: 30px;
    column-gap: 30px;
}
.sec {
    width: 40%;
    height: 60vh;
}

.sec img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}
.sec img:hover{
    cursor: pointer;
    transform: scale(0.5);
}

.secpara {
    border-radius: 30px;
    width:60%;
    background-color: #092636;
    font-size: 1.2rem;
    color: white;
    margin: auto;
    padding: 20px;
}
.content6 {
    border: 0px solid black;
    width: 100%;
    border-radius: 30px;
    margin: 50px auto;
    background-color:#092636;
}

.head6 {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}
.version {
    width: 80%;
    margin: 30px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
    background-color: white;
    color: black;
}
.ver {
    border-radius: 30px;
    width: 40%;
    font-size: 1.2rem;
    margin: 50px auto;
    text-align: center;
    color: white;
    padding: 20px 10px;
    background-color:  #092636;
    
}

.con {
    width: 40%;
    height: 60vh;
    margin:auto;
}

.con img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}
.con img:hover{
    cursor: pointer;
    transform: scale(0.5);
}

.content7{
    border: 0px solid rgb(29, 182, 15);
    width: 100%;

}
.head7{
    font-size: 1.5rem;
    text-align: center;
}
.intg{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;
}
.api{
    width:80%;
    margin: 20px auto;
    border-radius: 30px;
    overflow: hidden;
}
.api img{
    width:100%;
    height:100%;
}
.int{
    padding: 20px 20px;
}


.content8{
    width: 100%;
    border-radius: 30px;
    margin: 30px auto;
    background-color: white;
}
.head8{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    color:#092636;
}
.design{
    display: flex;
    align-items: center;
    margin: 30px auto;
    padding: 20px 20px;
    column-gap: 20px;
}

.des{
    border:0px solid black;
    width:50%;
    border-radius: 30px;
    overflow: hidden;
}
.des img{
    width:100%;
    height:250px;
    transition: 1s;
}
.des img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.inter{
    border:0px solid black;
    background-color:#092636;
    font-size: 1.2rem;
    color: white;
    font-style: italic;
    padding: 20px 20px;
    border-radius: 30px;
}
.inter p{
    padding-top: 30px;
}

.aproch{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 1.5rem;
}
.aproch-box{
    width: 80%;
    margin: 100px auto;
    display: flex;
}
.aproch-box1{
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
}
.aproch-box2{
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
}

.ap-lol{
    width: 40%;
    overflow: hidden;
    border-radius: 30px;
}

.ap-lol img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.ap-lol img:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.ap-list{
    width: 60%;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 40px;
}


.pop{
    width:80%;
    margin: 30px auto; 
}
.popu{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 30px auto; 
}
.tool{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    font-size: 1.5rem;
    -webkit-filter: blur(0);
	filter: blur(0);
}
.tool img{
    width: 100%;
}
.tool img:hover{
    cursor: pointer;
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.qus{
    width:80%;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    border-radius: 30px;
    margin: 50px auto;
    background-color: #071f2c;
    padding: 50px 40px;
}

.footer {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    color: white;
    background-color: rgb(173 78 159);
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
}

.foot {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 90px;
    padding-top: 20px;
    color: white;
    text-shadow: #3ddbff 3px 3px;
    text-shadow: 2px 2px 6px rgb(145, 171, 245);
}

.foot:hover {
    color: #8be8ff;
}

.line {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.line p {
    padding-top: 20px;
}

.icon {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.icon1:hover {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: #1f2036;
    background-color: white;
    text-align: center;
    padding-top: 3px;

}

.icon2:hover {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: #1f2036;
    background-color: white;
    text-align: center;
    padding-top: 3px;
}

.icon3:hover {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: #1f2036;
    background-color: white;
    text-align: center;
    padding-top: 3px;
}

.icon4:hover {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: #1f2036;
    background-color: white;
    text-align: center;
    padding-top: 3px;
}

.icon5:hover {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: #1f2036;
    background-color: white;
    text-align: center;
    padding-top: 3px;
}

.icon6:hover {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: #1f2036;
    background-color: white;
    text-align: center;
    padding-top: 3px;
}

.line h2:hover {
    color: rgba(255, 255, 255, 0.514);
    text-decoration: underline;
}

.fa-circle {
    font-size: 5px;
}

.end {
    padding-top: 30px;
    text-align: center;
}

.end p {
    padding-top: 7px;
}

.end p:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width:768px) {
    .side{
        display: block;
    }
    .menu{
        display:none;
    }
    .line{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        height: 800px;
        
    }
    .web{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .content{
        width: 100%;
        flex-direction: column;
        row-gap: 50px;
        padding: 20px;
    }
    .para{
        width: 100%;
    }
    .img{
        width: 100%;  
    }
    .frontend{
        flex-direction: column;
    }
    .head1{
        width: 100%;
    }
    .backend{
        width: 100%;
        flex-direction: column;
    }
    .backimg{
        width: 100%;
    }
    .content3{
        width: 100%;
    }
    .head3{
        width: 100%;
    }
    .full{
        width: 100%;
    }
    .stack{
        width: 100%;
    }
    .content4{
        width: 100%;
    }
    .hosting{
        flex-direction: column;
        row-gap: 50px;
    }
    .host{
        width: 100%;
    }
    .host1{
        width: 100%;
    }
    .webhost{
        width: 90%;
    }
    .content5{
        width: 100%;
    }
    .websec{
        width: 100%;
        flex-direction: column;
        row-gap: 50px;
    }
    .sec{
        width: 80%;
    }
    .secpara{
        width: 90%;
    }
    .content6{
        width: 100%;
    }
    .version{
        width: 100%;
        flex-direction: column;
    }
    .ver{
        width: 90%;
    }
    .con{
        width: 80%;
    }
    .content7{
        width: 100%;
    }
    .intg{
        width: 100%;
    }
    .design{
        width: 100%;
        flex-direction: column;
        row-gap: 30px;
    }
    .des{
        width: 100%;
    }
    .inter{
        width: 80%;
    }
    .aproch{
        width: 100%;
    }
    .aproch-box{
        width: 100%;
        flex-direction: column;
    }
    .aproch-box1{
        width: 100%;
        flex-direction: column;
    }
    .aproch-box2{
        width: 100%;
        flex-direction: column;
    }
    .ap-lol{
        width: 100%;
    }
    .ap-list{
        width: 100%;
    }
    .pop{
        width: 100%;
    }
    .tool{
        width: 100%;
    }
    .qus{
        width: 100%;
    }
}
@media (max-width:468px) {
    .line{
        display:grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer{
        height: 1300px;
        
    }
.icon{
        margin-left: 150px;
    }
}
@media(max-width:1023px) {
    .nav{
        width:100%;
        gap:15px;
        
    }
    .menu{
        gap:5px;
    }
    .menu p{
        font-size: 12px;
    }
    .footer{
        width:100%;
    }
    .web{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .pop{
        width: 100%;
    }
    .popu{
        width: 100%;
    }
    .tool{
        width: 80%;
        margin: auto;
    }
    .qus{
        width: 80%;
    }
}