<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../Static/aboutus.css">
    <link rel="shortcut icon" href="../Images/zuno-logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="../index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./webdevelopment.html">Web Development</a>
                    <a href="./Mobileapplication.html">Mobile Development</a>
                    <a href="./digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./AI.html">Artifical Intelligence</a>
                    <a href="./cybersecurity.html">Cyber Security</a>
                    <a href="./cloud.html">Cloud Computing</a>
                    <a href="./E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="about">
        <div class="about-info">
            <h1>Meet the Team</h1>
        </div>
    </div>
    <div class="content" >
        <div class="left">
            <p>At ZUNO, we are more than just a service provider—we are a partner in your growth journey. Founded with a mission to empower businesses through innovativestaffing solutions and cutting-edge digital services,ZUNO stands at the intersection of technology and talent. Whether you are looking for the right  professionals to strengthen your team or need advanced technology solutions to transform your business, we have you covered</p>
        </div>
        <div class="right">
           <div class="img" id="second">
            <img src="https://img.freepik.com/free-photo/corporate-employees-with-copy-space_23-2148352561.jpg?ga=GA1.1.1369747781.1722497437&semt=ais_hybrid" alt="" width="400px" height="300px">
           </div>
           
        </div>
    </div>

    <div class="content"id="content2">
        <div class="left">
            <div class="img" >
                <img src="../Images/image 5.png" alt="">
               </div>
        </div>
        <div class="right">
          <p>Zuno is at the forefront of technological innovation, dedicated totransforming the way people and businesses interact with technology.Founded with a vision to empower users through seamless, intelligent solutions, we specialize in specific areas, e.g., software development,AI.</p>
        </div>
    </div>

    <div class="under_matter">
        <h1>Why Work at Zuno?</h1>
        <p>"Why Work at Zuno?" typically refers to a company or an organization named "Zuno" that may be offering career opportunities. 

            While I don't have specific, up-to-date details about Zuno itself, I can give you some common reasons why people might choose
            
             to work at a company like Zuno, based on standard recruitment pitches. Here are some key factors that companies often highlight:</p>
    </div>

    <div class="images">
        <h1>About ZUNO Team</h1>
        <div class="image1">
            <div class="box">
                <img src="../Images/image 5.png" alt="">
                <button class="b1">Innovative Environment</button>
                <p>Be part of a culture that encourages
    
                    creativity and out-of-the-box thinking. 
                   
                   We thrive on new ideas and push the
                   
                    boundaries of what s possible</p>
            </div>
    
            <div class="box">
                <img src="../Images/image-7.png" alt="">
                <button class="b2">Professional Growth</button>
                <p>We invest in our team s development 
    
                    through training, mentorship, and 
                    
                    opportunities for advancement. Your
                    
                     growth is our priority.</p>
            </div>
    
            
    
          
        </div>
        
    </div>
    <div class="images_box">
        <div class="box1">
            <img src="../Images/image 6.png" alt="">
            <button class="b4">Collaborative Culture</button>
            <p>Contribute to projects that make a difference. 

                Your efforts will have a direct impact on our
                
                 clients and the communities we serve.</p>
        </div>
        <div class="box1">
            <img src="../Images/image-8.png" alt="">
            <button class="b3">Collaborative Culture</button>
            <p>Work alongside talented professionals in 

                a supportive environment that values team
                
                work and diverse perspectives.</p>
        </div>
    </div>

    <div class="join">
        <div class="image_join">
            <img src="../Images/image.png" alt="">
        </div>
        <div class="right_para">
            <p>If you re ready to take the next step in your career and make a meaningful impact in the tech industry, we d love to hear from you! Explore our current job openings and discover how you can be a part of the Zuno journey..</p>
            
        </div>
    </div>

    <div class="join">
        <div class="left_para">
            <p>Our mission is to create cutting-edge products that enhance 

                productivity, foster creativity, and simplify everyday tasks. 
                
                We believe in the power of collaboration and are committed
                
                 to building strong relationships with our clients, 
                
                understanding their needs, and delivering exceptional results</p>
        </div>
        <div class="image_join1">
            <img src="https://img.freepik.com/free-photo/hiring-concept-with-people-coming-together_23-2149519878.jpg?ga=GA1.1.1369747781.1722497437&semt=ais_hybrid" alt="">
        </div>
    </div>


    <div class="end1">
        <div class="img_vision">
            <img src="https://img.freepik.com/free-photo/vision-goals-inspiration-mission-motivation-ideas-concept_53876-15851.jpg?ga=GA1.1.1369747781.1722497437&semt=ais_hybrid" alt="" width="500px" height="400px">
        </div>
        <div class="vision">
            <h1>Our Vision</h1>
            <p>Our vision is to create a world where businesses can seamlessly access the best talent and technology solutions, driving their success in an ever-evolving digital landscape. We aspire to be a global leader in staffing and digital transformation by continually delivering value and building long-lasting relationships with our clients.</p>
        </div>
    </div>
    <div class="end2">
        <div class="mission">
            <h1>Our Mission</h1>
            <p>Our mission is to help businesses thrive by offering tailored services that meet their unique needs. From providing top-tier staffing solutions to delivering world-class web, mobile, and cloud-based solutions, ZUNO is dedicated to ensuring our clients success. We strive to make a positive impact on businesses through innovation, expertise, and commitment.</p>
        </div>
        <div class="img_mission">
            <img src="../Images/image 32.png" alt="">
        </div>
    </div>
    <div class="footer">
        <div class="foot"></div>
        <div class="line">
            <div class="foot1">
                <h2>Quick Links</h2>
                <p><a href="../index.html">Home</a></p>
                <p><a href="./aboutus.html">About Us</a></p>
                <p><a href="./service.html">Services</a></p>
                <p><a href="./zunocareerspage.html">Careers</a></p>
                <p><a href="./contact.html">Contact Us</a></p>
            </div>
            <div class="foot2">
                <h2>Services</h2>
                <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                <p><a href="./AI.html">AI Solutions</a></p>
            </div>
            <div class="foot3">
                <h2>Contact Information</h2>
                <p> Phone:+1 (800)123-4567</p>
                <p>Email:info@zunotech.com</p>
                <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
            </div>
            <div class="foot4">
                <h2>Social Media</h2>
                <div class="icon">
                    <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                    <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>Copyright Notoce:</p>
            <p>2024 ZUNO. All Right Reserved</p>
            <p>Legal disclaimers and privacy policies can be linked here</p>
        </div>
    </div>
</body>
</html>