<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud</title>
    <link rel="stylesheet" href="../Static/cloud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="../index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./webdevelopment.html">Web Development</a>
                    <a href="./Mobileapplication.html">Mobile Development</a>
                    <a href="./digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./AI.html">Artifical Intelligence</a>
                    <a href="./cybersecurity.html">Cyber Security</a>
                    <a href="./cloud.html">Cloud Computing</a>
                    <a href="./E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="web">
        <div class="head">

            <div class="zuno">
                <img src="https://icsblog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2023/04/29163136/4-Pillars-of-Cloud-Computing-1.jpg">
            </div>

        </div>
    </div>
    <!-- <div class="main"> -->
    <div class="content">
        <div class="para">
            <p>Delivers computing services—such as servers, storage, databases, networking, software, and
                analytics—over the internet. It provides on-demand access to these resources, allowing users to
                scale services up or down as needed, and pay only for what they use. This model eliminates the need
                for physical hardware and allows for greater flexibility and efficiency.</p>
        </div>

    </div>
    <div class="qus">
        <h3>How Cloud Computing Works</h3>
    </div>
    <div class="content1">
        <div class="front">
            <h2>Service Delivery Models</h2>
        </div>
        <div class="frontend">
            <div class="frontimg">
                <img
                    src="https://globalpartnerstraining.com/wp-content/uploads/2023/10/customer-service-delivery-model.png">
            </div>
            <div class="head1">

                <p>Infrastructure as a Service (IaaS): Provides virtualized computing resources over the internet.
                    Users can rent virtual machines, storage, and networks, while managing their own operating
                    systems, applications, and data.</p>

                <p>Platform as a Service (PaaS): Offers a platform for developers to build, deploy, and manage
                    applications without handling the underlying infrastructure. It provides tools and services for
                    development and deployment.</p>
                <p>Software as a Service (SaaS): Delivers software applications over the internet on a subscription
                    basis. Users access the software through web browsers, and the provider manages the
                    infrastructure and updates.</p>
            </div>
        </div>


    </div>
    <div class="content2">
        <div class="back">
            <h2>Deployment Models</h2>
        </div>
        <div class="backend">
            <div class="cloud1">
                <img src="https://etimg.etb2bimg.com/photo/94596315.cms">
                <div class="paraa">
                    <h3>Public Cloud</h3>
                    <p>Services are offered over the public internet and shared among multiple organizations. It's
                        cost-effective and scalable but less customizable.</p>
                </div>
            </div>


            <div class="cloud1">
                <img src="https://betanews.com/wp-content/uploads/2014/12/haven_secure_cloud.jpg">
                <div class="paraa">
                    <h3>Private Cloud</h3>
                    <p>Cloud infrastructure is dedicated to a single organization. It provides enhanced control and
                        security but requires a higher investment.</p>
                </div>
            </div>
        </div>
        <div class="backend">
            <div class="cloud1">
                <img src="https://www.softwebsolutions.com/wp-content/uploads/2024/05/Blog_hybrid-cloud.jpg">
                <div class="paraa">
                    <h3>Hybrid Cloud</h3>
                    <p>Combines public and private clouds, allowing for the sharing of data and applications between
                        them. It offers flexibility and optimal resource utilization.</p>
                </div>
            </div>
            <div class="cloud1">
                <img src="https://www.parallels.com/blogs/ras/app/uploads/2020/11/community-cloud-bg.jpg">
                <div class="paraa">
                    <h3>Community Cloud</h3>
                    <p> Shared infrastructure for a specific community of organizations with common needs. It
                        balances between public and private cloud benefits.</p>
                </div>
            </div>
        </div>


    </div>
    <div class="qus">
        <h3>What Cloud Computing Provides</h3>
    </div>

    <div class="content3">
        <div class="provide">
            <img src="https://www.the-waves.org/wp-content/uploads/2020/11/scalability.jpg">
            <div class="scale">
                <h3>Scalability</h3>
                <p>Easily scale resources up or down based on demand.</p>
                <p> Efficiently manage varying workloads and optimize resource usage without needing to invest in
                    physical hardware.</p>
            </div>
        </div>
        <div class="provide">
            <div class="scale">
                <h3>Cost Efficiency</h3>
                <p>Operates on a pay-as-you-go basis.</p>
                <p>Reduces capital expenditure on hardware and software, allowing for predictable operational
                    costs.</p>
            </div>
            <img src="https://www.marketing91.com/wp-content/uploads/2019/12/Cost-Efficiency.jpg">
        </div>
        <div class="provide">
            <img
                src="https://www.nist.gov/sites/default/files/images/photogallery/cloud_computing_and_accessibility.jpg">
            <div class="scale">
                <h3>Accessibility</h3>
                <p>Access cloud services from anywhere with an internet connection.</p>
                <p> Facilitates remote work, collaboration, and global access to resources and applications.</p>
            </div>
        </div>
        <div class="provide">
            <div class="scale">
                <h3>Automatic Updates</h3>
                <p>Service providers handle maintenance and updates.</p>
                <p>Ensures that applications and infrastructure are up-to-date with the latest features and security
                    patches, reducing the burden on internal IT teams.</p>
            </div>
            <img src="https://blogs.perficient.com/files/iStock-1399936043-digital-cloud-over-earth-map-600x400.jpg">
        </div>
        <div class="provide">
            <img src="https://www.mytechmag.com/wp-content/uploads/2022/07/technology-tools-in-disaster-recovery.jpg">
            <div class="scale">
                <h3>Disaster Recovery</h3>
                <p> Backup and recovery solutions are included.</p>
                <p> Protects data and ensures business continuity in case of system failures or disasters, with minimal
                    downtime and quick recovery.</p>
            </div>
        </div>
    </div>
        <div class="content4">

            <div class="key1">
                <h2>Key Benefits of Cloud Computing</h2>
            </div>
            <div class="comp">
                <div class="cont1">
                    <h3>Flexibility and Agility</h3>
                    <p>Rapidly adapt to changing business needs.</p>
                    <p>Quickly deploy and adjust resources to match demand, enabling faster innovation and
                        responsiveness.</p>
                </div>


                <div class="cont1">
                    <h3>Enhanced Security</h3>
                    <p>Provides advanced security features such as encryption, identity management, and compliance with
                        industry standards.</p>
                    <p> Protects data from unauthorized access and breaches, ensuring data integrity and
                        confidentiality.</p>
                </div>


                <div class="cont1">
                    <h3>Resource Optimization</h3>
                    <p>Efficiently allocate and manage resources.</p>
                    <p>Optimize IT resources and reduce waste by using only what is needed, improving overall
                        operational efficiency.</p>
                </div>


                <div class="cont1">
                    <h3>Global Reach</h3>
                    <p>Services can be accessed from anywhere in the world.</p>
                    <p>Expand business operations and reach new markets with minimal geographical limitations.</p>
                </div>

                <div class="cont1">
                    <h3>Collaboration and Integration</h3>
                    <p>Facilitate teamwork and integrate with other systems.</p>
                    <p>Enhance collaboration with shared tools and data, and integrate with existing systems and
                        applications for seamless workflows.</p>
                </div>
            </div>

        </div>
        <div class="content5">
            <div class="qus">
                <h3>How Cloud Computing Benefits Businesses</h3>
            </div>

            <div class="how">
                <div class="cont2">
                    <h3>Cost Savings:</h3>
                    <p> Lower upfront costs and reduce the need for extensive on-premises infrastructure.</p>
                </div>
                <div class="cont2">
                    <h3>Improved Performance:</h3>
                    <p>Utilize high-performance infrastructure and resources.</p>
                </div>
                <div class="cont2">
                    <h3>Enhanced Scalability:</h3>
                    <p>Scale resources easily to meet growing demands.</p>
                </div>
                <div class="cont2">
                    <h3>Business Continuity:</h3>
                    <p>Ensure data is backed up and recoverable.</p>
                </div>
            </div>


        </div>
        <!-- <div class="end10">
            <p>Cloud computing revolutionizes how organizations and individuals access and manage technology, offering a
                versatile, efficient, and scalable approach to computing needs.</p>
        </div> -->

        <!-- <div class="footer">
            <div class="foot"></div>
            <div class="line">
                <div class="foot1">
                    <h2>Quick Links</h2>
                    <p><a href="../index.html">Home</a></p>
                    <p><a href="./aboutus.html">About Us</a></p>
                    <p><a href="./service.html">Services</a></p>
                    <p><a href="./zunocareerspage.html">Careers</a></p>
                    <p><a href="./contactus.html">Contact Us</a></p>
                </div>
                <div class="foot2">
                    <h2>Services</h2>
                    <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                    <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                    <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                    <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                    <p><a href="./AI.html">AI Solutions</a></p>
                </div>
                <div class="foot3">
                    <h2>Contact Information</h2>
                    <p> Phone:+1 (800)123-4567</p>
                    <p>Email:info@zunotech.com</p>
                    <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
                </div>
                <div class="foot4">
                    <h2>Social Media</h2>
                    <div class="icon">
                        <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                        <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                        <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                        <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                        <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                        <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                    </div>
                </div>
            </div>
    
            <div class="end">
                <p>Copyright Notoce:</p>
                <p>2024 ZUNO. All Right Reserved</p>
                <p>Legal disclaimers and privacy policies can be linked here</p>
            </div>
        </div> -->

        <div class="footer">
            <div class="foot"></div>
            <div class="line">
                <div class="foot1">
                    <h2>Quick Links</h2>
                    <p><a href="../index.html">Home</a></p>
                    <p><a href="./aboutus.html">About Us</a></p>
                    <p><a href="./service.html">Services</a></p>
                    <p><a href="./zunocareerspage.html">Careers</a></p>
                    <p><a href="./contact.html">Contact Us</a></p>
                </div>
                <div class="foot2">
                    <h2>Services</h2>
                    <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                    <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                    <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                    <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                    <p><a href="./AI.html">AI Solutions</a></p>
                </div>
                <div class="foot3">
                    <h2>Contact Information</h2>
                    <p> Phone:+1 (800)123-4567</p>
                    <p>Email:info@zunotech.com</p>
                    <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
                </div>
                <div class="foot4">
                    <h2>Social Media</h2>
                    <div class="icon">
                        <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                        <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                        <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                        <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                        <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                        <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                    </div>
                </div>
            </div>
    
            <div class="end">
                <p>Copyright Notoce:</p>
                <p>2024 ZUNO. All Right Reserved</p>
                <p>Legal disclaimers and privacy policies can be linked here</p>
            </div>
        </div>

</body>

</html>