<DOCTYPE html>
    <html lang="en">

    <head>

        <link rel="stylesheet" href="../Static/contact.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta charset="UTF-8">
        <meta name="viewport" c>
        <title>CONTACT</title>
    </head>

    <body>
        <div class="nav">
            <div class="logo">
                <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
            </div>
            <div class="menu">
                <div class="home"><i class="fa-solid fa-house"></i>
                    <a href="../index.html">
                        <p>Launchpad</p>
                    </a>
                </div>
                <div class="us"> <i class="fa-regular fa-address-card"></i>
                    <a href="./aboutus.html">
                        <p>Meet the Team</p>
                    </a>
                </div>
                <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                    <a href="./zunocareerspage.html">
                        <p>Life at Zuno</p>
                    </a>
                </div>
                <div class="ser"><i class="fa-brands fa-servicestack"></i>
                    <a href="./service.html">
                        <p>Our Expertise</p>
                    </a>
                    <div class="servo">
                        <a href="./webdevelopment.html">Web Development</a>
                        <a href="./Mobileapplication.html">Mobile Development</a>
                        <a href="./digitalmarketing.html">Digital Marketing</a>
                        <a href="./Staffing Solutions.html">Staffing Solutions</a>
                        <a href="./AI.html">Artifical Intelligence</a>
                        <a href="./cybersecurity.html">Cyber Security</a>
                        <a href="./cloud.html">Cloud Computing</a>
                        <a href="./E-govarnance.html">E-Governance</a>
                    </div>
                </div>
                <div class="cont"><i class="fa-regular fa-user"></i>
                    <a href="./contactus.html">
                        <p>Let's Talk</p>
                    </a>
                </div>
            </div>
            <div class="side">
                <input type="checkbox" id="mm">
               <label for="mm">
                <div class="side-icon">
                    <div class="bur"></div>
                    <div class="bur"></div>
                    <div class="bur"></div>
                </div>
               </label>
               <div class="slideNav">
                <label for="mm">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                   </label>
                   <div class="linkss">
                    <a href="../index.html">Launchpad</a>
                    <a href="./aboutus.html">Meet the Team</a>
                    <a href="./zunocareerspage.html">Life at Zuno</a>
                    <a href="./service.html">Our Expertise</a>
                    <a href="./contactus.html">Let's Talk</a>
                   </div>
               </div>
            </div>
        </div>
        <div class="contact ">
            <div class="head">
                <h1>Let's Talk</h1>
            </div>
            <div class="info">
                <div class="details">
                    <div class="add">
                        <h6><i class="fa-solid fa-house-chimney"></i></h6>
                        <div class="add1">
                            <h4>Address:</h4>
                            <p>Vital rao nagar , Madhapur-HiTechcity,Hyderbad,500081.</p>
                        </div>
                    </div>
                    <div class="add">
                        <h6><i class="fa-solid fa-phone"></i></h6>
                        <div class="add1">
                            <h4>Phone:</h4>
                            <p>1(234)567-891<br>1(234)987-654</p>
                        </div>
                    </div>
                    <div class="add">
                        <h6><i class="fa-solid fa-clock"></i></h6>
                        <div class="add1">
                            <h4>Bussiness Hours:</h4>
                            <p>Mon-Fri : 9:00am-6:00pm</p>
                            <p>Sat-Sun : Closed</p>
                        </div>
                    </div>

                </div>
                <div class="mail">
                    <div class="send">
                        <label>Name</label><br>
                        <input type="text" name="email" placeholder="">
                    </div>
                    <div class="send1">
                        <label>Email</label><br>
                        <input type="text" name="email" placeholder="">
                    </div>
                    <div class="send2">
                        <label>Type your Message</label><br>
                        <input type="text" name="email" placeholder="">
                    </div>
                    <div class="btn">
                        <button>Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="foot">
            </div>
            <div class="line">
                <div class="foot1">
                    <h2>Quick Links</h2>
                    <p><a href="../index.html">Home</a></p>
                    <p><a href="./aboutus.html">About Us</a></p>
                    <p><a href="./service.html">Services</a></p>
                    <p><a href="./zunocareerspage.html">Careers</a></p>
                    <p><a href="./contactus.html">Contact Us</a></p>
                </div>
                <div class="foot2">
                    <h2>Services</h2>
                    <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                    <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                    <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                    <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                    <p><a href="./AI.html">AI Solutions</a></p>
                </div>
                <div class="foot3">
                    <h2>Contact Information</h2>
                    <p> Phone:+1 (800)123-4567</p>
                    <p>Email:info@zunotech.com</p>
                    <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
                </div>
                <div class="foot4">
                    <h2>Social Media</h2>
                    <div class="icon">
                        <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                        <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                        <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                        <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                        <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                        <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                    </div>
                </div>
            </div>

            <div class="end">
                <p>Copyright Notoce:</p>
                <p>2024 ZUNO. All Right Reserved</p>
                <p>Legal disclaimers and privacy policies can be linked here</p>
            </div>
        </div>
    </body>

    </html>