<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital marketing</title>
    <link rel="stylesheet" href="../Static/digitalmarketing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="../index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./webdevelopment.html">Web Development</a>
                    <a href="./Mobileapplication.html">Mobile Development</a>
                    <a href="./digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./AI.html">Artifical Intelligence</a>
                    <a href="./cybersecurity.html">Cyber Security</a>
                    <a href="./cloud.html">Cloud Computing</a>
                    <a href="./E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="container1">
        <img src="https://img.freepik.com/premium-photo/group-people-are-sitting-around-table-with-sign-that-says-digital-marketing_257043-51534.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
    </div>

    <div class="container2">
        <p>Digital marketing refers to the use of online
            channels, platforms, and digital technologies to promote
            products, services, or brands. It encompasses a broad
            range of strategies aimed at reaching target audiences
            through the internet, social media, search engines, email,
            and other digital mediums. The goal is to attract, engage,
            and convert potential customers while building lasting,
            relationships</p>
    </div>

    <div class="container3">
        <div class="con3">
            <img
                src="https://img.freepik.com/free-vector/digital-marketing-infographic_52683-9003.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
        </div>
        <div class="conn3">
            <h1>Digital Marketing</h1>
            <h2>Empowering Brands
                in the Digital World</h2>
            <h2>Where Creativity
                Meets Conversion</h2>
        </div>

    </div>


    <div class="container4">
        <div class="con4">
            <h1>Key Areas of Digital Marketing:</h1>
            <p>Here’s a breakdown of the key elements of
                digital marketing:</p>
        </div>
        <div class="con4">
            <img
                src="https://img.freepik.com/premium-photo/woman-with-tablet-key-sketches_780608-8536.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
        </div>
    </div>

    <div class="container5">
        <div class="con5">
            <img
                src="https://img.freepik.com/free-vector/seo-optimization-banner_33099-1690.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Search Engine
                Optimization (SEO)</h3>
        </div>
        <div class="con5">
            <img
                src="https://img.freepik.com/premium-photo/search-engine-marketing-concept_23-2150833528.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Search Engine 
                Marketing (SEM)</h3>
        </div>
        <div class="con5">
            <img
                src="https://img.freepik.com/premium-photo/digital-marketing-technology-concept-internet-online-search-engine-optimisation-seo-smm-video-advertising-background_1262710-53730.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Social Media
                Marketing (SMM)</h3>
        </div>
    </div>

    <div class="container5">
        <div class="con5">
            <img
                src="https://img.freepik.com/free-photo/media-marketing-internet-digital-global_53876-138500.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Content Marketing</h3>
        </div>
        <div class="con5">
            <img
                src="https://img.freepik.com/premium-photo/medium-shot-woman-influencer-marketing_23-2150521891.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Influencer Marketing</h3>
        </div>
        <div class="con5">
         <img   src="https://img.freepik.com/free-photo/e-mail-global-communications-connection-social-networking-concept_53876-123795.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Email Marketing</h3>
            
        </div>
    </div>

    <div class="container5">
        <div class="con5">
            <img
                src="https://img.freepik.com/free-photo/businesswoman-is-using-laptop-offic_53876-132186.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Affiliate Marketing</h3>
        </div>
        <div class="con5">
            <img
                src="https://img.freepik.com/premium-photo/pay-per-click-note-with-pen-yellow-background_384948-5551.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Pay-Per-Click (PPC) 
                Advertising</h3>
        </div>
        <div class="con5">
            <img
                src="https://img.freepik.com/free-photo/business-person-looking-finance-graphs_23-2150461326.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <h3>Analytics and Data
                Driven Marketing</h3>
        </div>
    </div>

    <div class="con6">
        <img
            src="https://img.freepik.com/free-photo/people-office-analyzing-checking-finance-graphs_23-2150377145.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
        <h3>Conversion Rate 

            Optimization (CRO)</h3>
    </div>

<div class="digital">
    <h1>Why Digital Marketing Matters</h1>
</div>
    <div class="container6">
        <div class="con7">
        <img src="https://img.freepik.com/free-photo/social-media-marketing-concept-marketing-with-applications_23-2150063138.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
    </div>
    <div class="con7">
        <p>In today’s digital world, consumers
            spend a significant amount of time
            online
            Digital marketing allows businessess
            to reach a global audience, connect
            with customers in real time, and deliver
            personalized experiences
            It is more cost-effective than
            traditional marketing, provides measurable results, and allows businesses to
            adapt quickly to changing trends and customer behaviors.
            Through the right combination of digital marketing strategies, businesses can
            increase brand visibility, generate qualified leads, and drive sales, all while 
           building lasting relationships with their audience.</p>
           </div>
    </div>
    <div class="footer">
        <div class="foot"></div>
        <div class="line">
            <div class="foot1">
                <h2>Quick Links</h2>
                <p><a href="../index.html">Home</a></p>
                <p><a href="./aboutus.html">About Us</a></p>
                <p><a href="./service.html">Services</a></p>
                <p><a href="./zunocareerspage.html">Careers</a></p>
                <p><a href="./contact.html">Contact Us</a></p>
            </div>
            <div class="foot2">
                <h2>Services</h2>
                <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                <p><a href="./AI.html">AI Solutions</a></p>
            </div>
            <div class="foot3">
                <h2>Contact Information</h2>
                <p> Phone:+1 (800)123-4567</p>
                <p>Email:info@zunotech.com</p>
                <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
            </div>
            <div class="foot4">
                <h2>Social Media</h2>
                <div class="icon">
                    <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                    <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>Copyright Notoce:</p>
            <p>2024 ZUNO. All Right Reserved</p>
            <p>Legal disclaimers and privacy policies can be linked here</p>
        </div>
    </div>

</body>
</html>