<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Development</title>
    <link rel="stylesheet" href="../Static/Mobileapplication.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="../index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./webdevelopment.html">Web Development</a>
                    <a href="./Mobileapplication.html">Mobile Development</a>
                    <a href="./digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./AI.html">Artifical Intelligence</a>
                    <a href="./cybersecurity.html">Cyber Security</a>
                    <a href="./cloud.html">Cloud Computing</a>
                    <a href="./E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="web">
        <div class="head">

            <div class="zuno">
                <h1>Mobile Development</h1>
                <p>Zuno / Services / Mobile Development</p>
            </div>

        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="para">
                <h2>Zuno Tech Mobile Development</h2>
                <p>The process of creating software applications that run on mobile devices such as smartphones and
                    tablets. These applications can be built for various platforms, primarily iOS (Apple devices) and
                    Android (Google devices), or they can be cross-platform, allowing a single codebase to work on
                    multiple operating systems.</p>
            </div>
            <div class="img">
                <img src="../Mobileapplication img/image 69.png">
            </div>
        </div>
        <div class="content1">
            <div class="front">
                <h2>Native Mobile Development</h2>
            </div>
            <div class="frontend">
                <div class="frontimg">
                    <img src="../Mobileapplication img/image 70.png">
                </div>
                <div class="head1">
                    <p><i class="fa-solid fa-caret-right"></i>&nbsp; <span>iOS Development:</span> Apps are built specifically for Apple devices using languages like Swift or
                        Objective-C. The development environment for iOS apps is Xcode, and apps are distributed through
                        the App Store.</p><br>
                    <p><i class="fa-solid fa-caret-right"></i>&nbsp;<span>Android Development:</span> Android apps are developed using Java or Kotlin and run on the Android
                        operating system. Android Studio is the official integrated development environment (IDE), and
                        apps are distributed via the Google Play Store.</p>
                </div>
            </div>

        </div>
        <div class="content2">
            <div class="back">
                <h2>Cross-Platform Development</h2>
            </div>
            <div class="backend">

                <div class="head2">
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Cross-platform frameworks allow developers to write code once and deploy it on both iOS and
                        Android platforms.</p>
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Popular cross-platform frameworks include:</p>

                    <div class="exp">
                        <p><i class="fa-solid fa-caret-right"></i>&nbsp; <span>React Native:</span> Developed by Facebook, it allows developers to use JavaScript and React to
                            build mobile apps.</p>
                        <p><i class="fa-solid fa-caret-right"></i>&nbsp; <span>Flutter:</span> Developed by Google, it uses the Dart language to build high-performance apps with
                            a single codebase.</p>
                        <p><i class="fa-solid fa-caret-right"></i>&nbsp;<span>Xamarin:</span>  A Microsoft framework using C# to build cross-platform apps.</p>
                    </div>
                </div>
                <div class="backimg">
                    <img src="../Mobileapplication img/image 71.png">
                </div>
            </div>

        </div>
        <div class="content3">
            <div class="head3">
                <h2>Hybrid Mobile Development</h2>
            </div>
            <div class="full img">
                <img src="../Mobileapplication img/image 72.png">
            </div>
            <div class="stack">
                <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Hybrid apps are web-based applications wrapped in a native shell. They run inside a browser-like
                    component but can be installed on mobile devices like native apps.</p><br>
                <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Ionic and Apache Cordova are popular frameworks for building hybrid apps using web technologies
                    like HTML, CSS, and JavaScript.</p>
            </div>
        </div>
        <div class="content4">
            <div class="head4">
                <h2>User Interface (UI) and User Experience (UX) Design</h2>
            </div>
            <div class="hosting">
                <div class="host img">
                    <img src="../Mobileapplication img/image 73.png">
                </div>
            </div>

            <div class="webhost">
                <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Designing intuitive and visually appealing user interfaces for mobile devices.</p>
                <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Mobile UI/UX focuses on touch interactions, responsiveness, and optimizing the user experience for
                    different screen sizes and resolutions.</p>

            </div>
        </div>
        <div class="content5">
            <div class="head5">
                <h2>Mobile App Testing</h2>
            </div>
            <div class="websec">
                <div class="sec">
                    <img src="../Mobileapplication img/image 74.png">
                </div>
                <div class="secpara">
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Ensures the app works smoothly across various devices and operating systems.</p>
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Types of testing include:</p>
                    <p><i class="fa-solid fa-caret-right"></i>&nbsp;<span>Unit Testing:</span>  Testing individual components.</p>
                    <p><i class="fa-solid fa-caret-right"></i>&nbsp;<span>UI Testing:</span>  Ensuring the app functions correctly from the user’s perspective.</p>
                    <p><i class="fa-solid fa-caret-right"></i>&nbsp; <span>Performance Testing:</span> Checking speed.</p>
                </div>

            </div>
        </div>
        <div class="content6">
            <div class="head6">
                <h2>App Distribution</h2>
            </div>
            <div class="version">
                <div class="ver">
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Apps are submitted to the Apple App Store (iOS) and Google Play Store (Android) for
                        distribution to users.</p>
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; The app submission process involves following strict guidelines and ensuring the app meets
                        quality standards.</p>
                </div>
                <div class="con">
                    <img src="../Mobileapplication img/image 74.png">
                </div>

            </div>

        </div>
        <div class="content7">
            <div class="head7">
                <h2>Mobile App Security</h2>
            </div>
            <div class="intg">
                <div class="int">
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Protecting user data and app functionality is critical in mobile development.</p>
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Developers implement security practices such as encryption, secure authentication, and data
                        storage protection to prevent unauthorized access and hacking.</p>
                </div>
                <div class="api">
                    <img src="../Mobileapplication img/image 75.png">
                </div>
              
            </div>

        </div>
        <div class="content8">
            <div class="head8">
                <h2>Backend Development for Mobile Apps</h2>
            </div>
            <div class="design">
                <div class="des">
                    <img src="../Mobileapplication img/image.png">
                </div>
                <div class="inter">
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Many mobile apps require a backend to store and manage data, authenticate users, and provide a
                        centralized system for syncing data across devices.</p>
                    <p><i class="fa-solid fa-hand-pointer fa-rotate-90"></i>&nbsp; Developers use APIs (Application Programming Interfaces) to connect the mobile app to backend
                        servers and databases.</p>
                </div>
            </div>

        </div>
        <div class="pop">
            <div class="popu">
                <h2>Why Mobile Development Matters</h2>
            </div>
            <div class="tool">
                <p>Mobile apps have become essential tools for businesses and individuals, offering convenient and
                    accessible ways to engage with users. With billions of people using smartphones worldwide, mobile
                    development allows businesses to provide services, games, and tools directly to their customers,
                    ensuring engagement, brand loyalty, and growth.</p>
                <p>By leveraging modern development frameworks and design practices, developers can create seamless,
                    secure, and scalable mobile applications that meet the growing demand for mobile-first experiences.
                </p>
            </div>

        </div>

    </div>
    <div class="footer">
        <div class="foot">
        </div>
        <div class="line">
            <div class="foot1">
                <h2>Quick Links</h2>
                <p><a href="../index.html">Home</a></p>
                <p><a href="./aboutus.html">About Us</a></p>
                <p><a href="./service.html">Services</a></p>
                <p><a href="./zunocareerspage.html">Careers</a></p>
                <p><a href="./contactus.html">Contact Us</a></p>
            </div>
            <div class="foot2">
                <h2>Services</h2>
                <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                <p><a href="./AI.html">AI Solutions</a></p>
            </div>
            <div class="foot3">
                <h2>Contact Information</h2>
                <p> Phone:+1 (800)123-4567</p>
                <p>Email:info@zunotech.com</p>
                <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
            </div>
            <div class="foot4">
                <h2>Social Media</h2>
                <div class="icon">
                    <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                    <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>Copyright Notoce:</p>
            <p>2024 ZUNO. All Right Reserved</p>
            <p>Legal disclaimers and privacy policies can be linked here</p>
        </div>
    </div>

</body>

</html>