<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../Static/service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="../index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./webdevelopment.html">Web Development</a>
                    <a href="./Mobileapplication.html">Mobile Development</a>
                    <a href="./digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./AI.html">Artifical Intelligence</a>
                    <a href="./cybersecurity.html">Cyber Security</a>
                    <a href="./cloud.html">Cloud Computing</a>
                    <a href="./E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="service-home">
        <img src="https://img.freepik.com/free-photo/full-shot-students-studying-indoors_23-2149647036.jpg?ga=GA1.2.1369747781.1722497437&semt=ais_hybrid" alt="" width="100%" height="500px">
        <div class="service-info">
            <h1>Our Expertise...</h1>
        </div>
        <div class="service-img">
            <img src="https://img.freepik.com/premium-vector/digital-marketing-vector-illustration-data-analysis-web-management_1302918-52608.jpg?ga=GA1.1.1369747781.1722497437&semt=ais_hybrid" alt="" width="300px" height="300px">
        </div>
        <div class="info">
            <p>At ZUNO, we offer a wide range of solutions tailored to meet the needs of modern businesses. From
                digital transformation to securing critical assets, our expert team delivers innovative and customized
                services designed to help your business thrive in the ever-changing digital landscape.</p>
        </div>
    </div>
    <div class="service-provide">
        <h1>How Can We Help You?</h1>
        <div class="ser-pro">
            <div class="mob-dev">
                <div class="mob-dev1">
                    <h2> Mobile Development</h2>
                    <img src="../images services/image 14.jpg"alt="" width="300px" height="300px">
                </div>
                <div class="mob-dev2">
                    <h3> Build Mobile Apps that Make an Impact</h3>
                    <p>In today's mobile-first world, having a dynamic mobile app is essential for business growth. At ZUNO,
                        we create intuitive, feature-rich mobile applications that enhance user experience and drive
                        engagement. Whether it's iOS, Android, or cross-platform development, our mobile solutions are
                        scalable, secure, and tailored to your specific needs.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Custom Mobile Applications </span>for iOS and Android</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Cross-Platform Solutions </span> using the latest technologies</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>User-Centric Designs </span> focused on intuitive user interfaces</p>
                    </div>
                    <button> Learn More About Our Mobile Solutions <a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="web-dev">
                <div class="web-dev1">
                    <h2> Web Development</h2>
                    <img src="../images services/image 9.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="web-dev2">
                    <h3> Transform Your Business with Cutting-Edge Web Solutions</h3>
                    <p>Our web development services empower businesses by creating fast, responsive, and scalable
                        websites. From e-commerce platforms to content management systems, we deliver web solutions
                        that are designed to meet the demands of today's digital users. Whether it's a new website or a
                        redesign, we make sure your web presence is powerful, modern, and fully optimized for
                        performance.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Custom Web Development </span> tailored to your business needs</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>E-Commerce Platforms </span>  that boost your sales and visibility</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Responsive Web Design </span>for a seamless user experience across devices</p>
                    </div>
                    <button>Explore Our Web Development Services <a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="dig-mar">
                <div class="dig-mar1">
                    <h2> Digital Marketing</h2>
                    <img src="../images services/image 10.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="dig-mar2">
                    <h3>Amplify Your Brand with Digital Marketing</h3>
                    <p>In the digital age, visibility is key to success. Our digital marketing services help you reach your target
                        audience, increase brand awareness, and grow your business. We offer a full range of services,
                        including SEO, social media marketing, PPC, and email marketing, ensuring your brand stands out in a
                        crowded market.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Search Engine Optimization (SEO) </span>  to boost your organic search rankings</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Social Media Marketing </span> to engage with your audience</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Pay-Per-Click Advertising (PPC) </span> for targeted traffic</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Content Marketing & Email Campaigns </span> to increase conversions</p>
                    </div>
                    <button>Learn More About Our Digital Marketing Services<a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="staff-sol">
                <div class="staff-sol1">
                    <h2> Staffing Solutions</h2>
                    <img src="../images services/image 29.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="staff-sol2">
                    <h3>Find the Right Talent, When You Need It</h3>
                    <p>ZUNO specializes in providing staffing solutions that connect businesses with the right talent.
                        Whether you need temporary staff, permanent hires, or specialized industry professionals, our
                        staffing experts ensure you have the workforce needed to achieve your business goals. We focus on
                        making the hiring process seamless and efficient.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Temporary & Permanent Staffing </span>  tailored to your industry</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Expert Recruitment Services </span>for specialized roles</p>
                    <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Talent Acquisition </span>  that meets your business needs</p>
                    </div>
                    <button>Explore Our Staffing Solutions<a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="art-int">
                <div class="art-int1">
                    <h2> Artifical Intellgance</h2>
                    <img src="../images services/image 19.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="art-int2">
                    <h3>Harness the Power of AI for Business Innovation</h3>
                    <p>AI is transforming industries, and ZUNO helps businesses leverage AI to automate processes,
                        enhance decision-making, and create more personalized customer experiences. Our AI experts
                        design and implement custom solutions that optimize efficiency, improve data analytics, and create
                        smarter products and services.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>AI-Powered Automation </span>to streamline workflows</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Machine Learning Solutions </span> for data-driven decision-making</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>AI Chatbots & Virtual Assistants </span> for improved customer service</p>
                    </div>
                    <button>Discover Our AI Solutions<a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="cloud-sol">
                <div class="cloud-sol1">
                    <h2> Cloud Solutions</h2>
                    <img src="../images services/image 16.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="cloud-sol2">
                    <h3> Scale Your Business with Cloud Technologies</h3>
                    <p>ZUNO's cloud solutions provide businesses with the agility, scalability, and security needed to thrive
                        in a digital environment. From cloud migration to cloud-based infrastructure, we help you leverage
                        the power of cloud computing to reduce costs, improve collaboration, and increase operational
                        efficiency</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Cloud Migration Services </span>for seamless transitions</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Cloud Infrastructure Management </span> for optimal performance</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Data Security & Backup Solutions </span>for robust protection</p>
                    </div>
                    <button> Explore Our Cloud Services<a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="e-gov">
                <div class="e-gov1">
                    <h2> E-Governance Solutions</h2>
                    <img src="../images services/image 17.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="e-gov2">
                    <h3>Empowering Governments with Digital Transformation</h3>
                    <p>At ZUNO, we understand the importance of e-governance in today’s digital world. Our e-governance
                        solutions help government agencies improve transparency, enhance public services, and engage
                        citizens more effectively. We provide digital platforms that streamline operations and deliver a
                        seamless experience for both citizens and administrators.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Citizen Engagement Platforms</span> for better communication</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Digital Document Management </span> for streamlined workflows</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>E-Service Portals </span>for efficient public service delivery</p>
                    </div>
                    <button>Learn More About Our E-Governance Solutions<a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
            <div class="cyber">
                <div class="cyber1">
                    <h2>Cyber Security</h2>
                    <img src="../images services/image 15.jpg" alt="" width="300px" height="300px">
                </div>
                <div class="cyber2">
                    <h3>Protect Your Business with Advanced Cybersecurity Solutions</h3>
                    <p>In an age of increasing cyber threats, protecting your data and assets is critical. ZUNO offers
                        comprehensive cybersecurity services that safeguard your business from digital risks. From
                        vulnerability assessments to proactive threat management, we help you stay one step ahead of
                        potential threats.</p>
                    <div class="details">
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Vulnerability Assessment & Penetration Testing</span> to identify weaknesses</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Security Monitoring & Threat Detection </span>for real-time protection</p>
                        <p><i class="fa-solid fa-angles-right"></i> &nbsp; <span>Data Protection & Compliance  </span>to ensure legal and regulatory standards are met</p>
                    </div>
                    <button>Secure Your Business with Our Cybersecurity Services<a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="service-contact">
        <h1>Let's Build the Future Together</h1>
        <p>Partner with ZUNO for innovative solutions that drive your business forward. Whether you're looking
            for cutting-edge technology or expert staffing, we have the services to meet your needs.</p>
        <button> Contact Us Today</button>
        <button> Get a Free Consultation</button>
    </div>
    <div class="footer">
        <div class="foot">
        </div>
        <div class="line">
            <div class="foot1">
                <h2>Quick Links</h2>
                <p><a href="../index.html">Home</a></p>
                <p><a href="./aboutus.html">About Us</a></p>
                <p><a href="./service.html">Services</a></p>
                <p><a href="./zunocareerspage.html">Careers</a></p>
                <p><a href="./contact.html">Contact Us</a></p>
            </div>
            <div class="foot2">
                <h2>Services</h2>
                <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                <p><a href="./AI.html">AI Solutions</a></p>
            </div>
            <div class="foot3">
                <h2>Contact Information</h2>
                <p> Phone:+1 (800)123-4567</p>
                <p>Email:info@zunotech.com</p>
                <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
            </div>
            <div class="foot4">
                <h2>Social Media</h2>
                <div class="icon">
                    <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                    <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>Copyright Notoce:</p>
            <p>2024 ZUNO. All Right Reserved</p>
            <p>Legal disclaimers and privacy policies can be linked here</p>
        </div>
    </div>
</body>

</html>
</body>
</html>