<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development</title>
    <link rel="stylesheet" href="../Static/webdevelopment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="../index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./webdevelopment.html">Web Development</a>
                    <a href="./Mobileapplication.html">Mobile Development</a>
                    <a href="./digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./AI.html">Artifical Intelligence</a>
                    <a href="./cybersecurity.html">Cyber Security</a>
                    <a href="./cloud.html">Cloud Computing</a>
                    <a href="./E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="web">
        <div class="head">
            <img src="https://soifon.io/wp-content/uploads/2023/07/web-development-2.jpg" alt="" width="100%" height="500px">
        </div>
        <div class="zuno">
            <h1>Web Development</h1>
            <p>Zuno / Services / Web Development</p>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="para">
                <h2>Zuno Tech Web Development</h2>
                <p>Involves creating and maintaining websites, covering both front-end (user interface) and back-end
                    (server
                    and database) tasks. It combines design, coding, and functionality to build responsive, interactive
                    websites that work across devices, ensuring a smooth user experience.</p>
            </div>
            <div class="img">
                <img
                    src="https://www.creative-tim.com/blog/content/images/size/w960/2022/01/which-development-job-is-right-for-you.jpg">
            </div>
        </div>
        <div class="content1">
            <div class="front">
                <h2>Front-End Development</h2>
            </div>
            <div class="frontend">
                <div class="frontimg">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhlcryHWUb8QxKH4ARcJxlL4NDLo0fbQD0zsQVDgxUtG__QKlImlAnrxRaOz2_TgoANFxdD3tW9_MHvFntlcnmFrEqHtr-PJfAGXG0ODZo1w0jag9xlcpe1T_BrTFz2ONZevWv-IrMYnD4/w1200-h630-p-k-no-nu/The+Complete+Front-End+Web+Development+Course+best+Udemy+course.jpg">
                </div>
                <div class="head1">

                    <p>• Focuses on the visual aspects of a website that users interact with directly.</p>
                    <p>• Technologies:</p>
                    <div class="exp">
                        <p>• HTML: Structures content on the web.</p>
                        <p>• CSS: Styles and formats the layout, colors, fonts, etc.</p>
                        <p>• JavaScript: Adds interactivity and dynamic elements.</p>
                    </div>
                    <div class="frame">
                        <p>• Frameworks/Libraries: React, Angular, Vue.js, Bootstrap, and Tailwind CSS.</p>
                        <p>• Ensures responsiveness and cross-device compatibility.</p>

                    </div>
                </div>
            </div>

        </div>
        <div class="content2">
            <div class="back">
                <h2>Back-End Development</h2>
            </div>
            <div class="backend">

                <div class="head2">
                    <p>• Manages server operations, databases, and application logic.</p>
                    <p>• Technologies:</p>
                    <div class="exp">
                        <p>• Languages: Python (Django, Flask), JavaScript (Node.js), PHP, Ruby, Java.</p>
                        <p>• Databases: MySQL, PostgreSQL, MongoDB.</p>
                    </div>
                    <div class="frame">
                        <p>• Handles user authentication, data storage, and application performance.</p>

                    </div>
                </div>
                <div class="backimg">
                    <img
                        src="https://media.geeksforgeeks.org/wp-content/uploads/20240701150157/Backend-Development.webp">
                </div>
            </div>

        </div>
        <div class="content3">
            <div class="head3">
                <h2>Full-Stack Development</h2>
            </div>
            <div class="full img">
                <img src="https://futureskillsprime.in//sites/default/files/2021-06/Link%20Sharing-Foundation%20Full%20Stack%20Web%20Development.jpg">
            </div>
            <div class="stack">
                <p>• Involves both front-end and back-end development.</p>
                <p>• Full-stack developers handle the entire web development process, from UI/UX design to server-side
                    logic and database integration.</p>
            </div>
        </div>
        <div class="content4">
            <div class="head4">
                <h2>Web Hosting and Deployment</h2>
            </div>
            <div class="hosting">
                <div class="host img">
                    <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*0J-S1bgxdIv8evj2Xr3voA.jpeg">
                </div>
                <div class="host1 img">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMGu7bdZ0y-aOTG1CLLDAVRuHtEC1qMubuHA&s">
                </div>
            </div>

            <div class="webhost">
                <p>• Involves placing a website on a server so it's accessible online.</p>
                <p>• Hosting platforms: AWS, Heroku, DigitalOcean, and GitHub Pages.</p>
                <p>• Ensures uptime, security, and scalability of web applications.</p>
            </div>



        </div>
        <div class="content5">
            <div class="head5">
                <h2> Web Security</h2>
            </div>
            <div class="websec">
                <div class="sec">
                    <img
                        src="https://onlinedegrees.sandiego.edu/wp-content/uploads/2020/01/USD-Cyber-Cybersecurity-vs-Information-Security-vs-Network-Security-_2.jpeg">
                </div>
                <div class="secpara">
                    <p>• Protects websites from vulnerabilities like hacking, cross-site scripting (XSS), and SQL
                        injection.</p>
                    <p>• Techniques: Encryption, secure authentication (JWT, OAuth), and HTTPS.</p>
                </div>

            </div>
        </div>
        <div class="content6">
            <div class="head6">
                <h2>Version Control and Collaboration</h2>
            </div>
            <div class="version">
                <div class="ver">
                    <p>• Tools like Git and platforms like GitHub help developers track code changes and collaborate
                        effectively.</p>
                </div>
                <div class="con">
                    <img src="https://www.techdatatics.com/cdn/shop/articles/git_developer_patashala_blog_image.jpg?v=1716208974&width=1100">
                </div>

            </div>

        </div>
        <div class="content7">
            <div class="head7">
                <h2>API Integration</h2>
            </div>
            <div class="intg">
                <div class="api">
                    <img src="https://cdn.botpenguin.com/assets/website/API_Integration_8cb6b3f49e.webp">
                </div>
                <div class="int">
                    <p>	Allows websites to interact with third-party services or other applications.</p>
                    <p>	RESTful APIs and GraphQL are common technologies used to enable communication between systems.</p>
                </div>
            </div>
      
        </div>
        <div class="content8">
            <div class="head8">
              <h2>User Experience (UX) and User Interface (UI) Design</h2>
            </div>
            <div class="design">
                <div class="des">
                    <img src="https://images.ctfassets.net/wp1lcwdav1p1/31dUrsGyucK0UNmJEQUqj3/3c57d917e84f6500ee2ec54e8760b854/UX_vs_UI.png?w=1500&q=60">
                </div>
                <div class="inter">
                    <p>•	Focuses on designing intuitive, user-friendly interfaces.</p>
                    <p>•	Ensures the website is easy to navigate and visually appealing, enhancing user satisfaction.</p>
                </div>
            </div>
       
        </div>
        <div class="pop">
            <div class="popu">
                <h2>Popular Web Development Tools:</h2>
            </div>
            <div class="tool">
                <p>•	Git & GitHub: Version control systems for tracking code changes and collaboration.</p>
                <p>•	Responsive Design: Ensuring websites look good on all devices (desktop, tablet, mobile).</p>
                <p>•	APIs: Allow integration of third-party services and enhance functionality.</p>
            </div>
            <div class="qus">
                <div class="why">
                    <h2>Why Web Development Matters:</h2>
                </div>
                <div class="paragr">
                    <p>•	In today’s digital age, a strong online presence is essential for businesses and individuals. Web development ensures that websites are not only functional and secure but also provide an enjoyable and seamless user experience across all devices.</p>
                </div>
            </div>
        </div>
    </div>

   <div class="footer">
        <div class="foot"></div>
        <div class="line">
            <div class="foot1">
                <h2>Quick Links</h2>
                <p><a href="../index.html">Home</a></p>
                <p><a href="./aboutus.html">About Us</a></p>
                <p><a href="./service.html">Services</a></p>
                <p><a href="./zunocareerspage.html">Careers</a></p>
                <p><a href="./contact.html">Contact Us</a></p>
            </div>
            <div class="foot2">
                <h2>Services</h2>
                <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                <p><a href="./AI.html">AI Solutions</a></p>
            </div>
            <div class="foot3">
                <h2>Contact Information</h2>
                <p> Phone:+1 (800)123-4567</p>
                <p>Email:info@zunotech.com</p>
                <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
            </div>
            <div class="foot4">
                <h2>Social Media</h2>
                <div class="icon">
                    <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                    <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>Copyright Notoce:</p>
            <p>2024 ZUNO. All Right Reserved</p>
            <p>Legal disclaimers and privacy policies can be linked here</p>
        </div>
    </div>



</body>

</html>