<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carees page zuno</title>
    <link rel="stylesheet" href="../Static/zunocareespage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../Images/zuno-logo.png" alt="" width="75px" height="80px">
        </div>
        <div class="menu">
            <div class="home"><i class="fa-solid fa-house"></i>
                <a href="./index.html">
                    <p>Launchpad</p>
                </a>
            </div>
            <div class="us"> <i class="fa-regular fa-address-card"></i>
                <a href="./Templates/aboutus.html">
                    <p>Meet the Team</p>
                </a>
            </div>
            <div class="care"><i class="fa-solid fa-square-person-confined"></i>
                <a href="./Templates/zunocareerspage.html">
                    <p>Life at Zuno</p>
                </a>
            </div>
            <div class="ser"><i class="fa-brands fa-servicestack"></i>
                <a href="./Templates/service.html">
                    <p>Our Expertise</p>
                </a>
                <div class="servo">
                    <a href="./Templates/webdevelopment.html">Web Development</a>
                    <a href="./Templates/Mobileapplication.html">Mobile Development</a>
                    <a href="./Templates/digitalmarketing.html">Digital Marketing</a>
                    <a href="./Staffing Solutions.html">Staffing Solutions</a>
                    <a href="./Templates/AI.html">Artifical Intelligence</a>
                    <a href="./Templates/cybersecurity.html">Cyber Security</a>
                    <a href="./Templates/cloud.html">Cloud Computing</a>
                    <a href="./Templates/E-govarnance.html">E-Governance</a>
                </div>
            </div>
            <div class="cont"><i class="fa-regular fa-user"></i>
                <a href="./Templates/contact.html">
                    <p>Let's Talk</p>
                </a>
            </div>
        </div>
        <div class="side">
            <input type="checkbox" id="mm">
           <label for="mm">
            <div class="side-icon">
                <div class="bur"></div>
                <div class="bur"></div>
                <div class="bur"></div>
            </div>
           </label>
           <div class="slideNav">
            <label for="mm">
                <i class="fa-solid fa-xmark fa-lg"></i>
               </label>
               <div class="linkss">
                <a href="../index.html">Launchpad</a>
                <a href="./aboutus.html">Meet the Team</a>
                <a href="./zunocareerspage.html">Life at Zuno</a>
                <a href="./service.html">Our Expertise</a>
                <a href="./contact.html">Let's Talk</a>
               </div>
           </div>
        </div>
    </div>
    <div class="container">
        <img src="../Images Career/image.png">
        <h3>Life at Zuno</h3>
        <p>Transforming ideas into<br>
            impactful experiences</p>
    </div>

    <div class="container1">
        <h1>Join Our Team at ZUNO</h1>
        <p>Are you passionate about making a real impact in the world of staffing and technology? At ZUNO, we are

            always looking for talented, driven individuals to join our growing team. Whether your expertise lies in

            recruitment, software development, cybersecurity, or digital marketing, ZUNO offers exciting opportunities


            to build a fulfilling career.</p>
    </div>

    <div class="container2">
        <h1>Why Work with Us?</h1>
        <img src="https://img.freepik.com/premium-photo/key-roles-responsibilities-you-typically-assume-collaborative-team-projects-group-work_1222282-9128.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
    </div>
    <div class="pp">

        <p>At ZUNO, we believe in nurturing talent and providing our employees with the tools

            and support they need to succeed. Here’s what you can expect when you join our team:</p>

    </div>

    <div class="ca">
        <div class="card">
            <div class="cards">
                <h3>Dynamic Work Environment</h3>
                <img src="https://img.freepik.com/premium-photo/3d-ai-driven-team-brainstorming-concept-casual-office-setting-with-dynamic-idea-exchange-transf_980716-568228.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
                <p>We foster a culture of innovation

                    and collaboration, where every

                    team member’s voice is valued</p>
            </div>
            <div class="cards">
                <h3>Career Growth Opportunities</h3>
                <img src="../Images Career/image 36.png">
                <p>We foster a culture of innovation

                    and collaboration, where every

                    team member’s voice is valued</p>
            </div>
            <div class="cards">
                <h3>Challenging Projects</h3>
                <img src="../Images Career/image 39.png">
                <p>We foster a culture of innovation

                    and collaboration, where every

                    team member’s voice is valued</p>
            </div>

        </div>

    </div>

    <div class="ccc">
        <div class="cc">

            <div class="cards">
                <h3>Inclusive Culture</h3>
                <img src="../Images Career/image 37.png">
                <p>We foster a culture of innovation

                    and collaboration, where every

                    team member’s voice is valued</p>
            </div>
            <div class="cards">
                <h3>Work-Life Balance</h3>
                <img src="../Images Career/image 35.png">
                <p>We foster a culture of innovation

                    and collaboration, where every

                    team member's voice is valued</p>
            </div>
        </div>
    </div>

    <div class="container3">
        <div class="con3">
            <h1>Current Openings</h1>
            <p>Explore the positions we're

                currently hiring for:</p>
        </div>
        <div class="con3">
            <img src="https://img.freepik.com/premium-photo/hiring-now-job-openings_833104-31145.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
        </div>
    </div>



    <div class="container4">
        <h1>Our Staff</h1>
        <div class="con40">
            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241256.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <p>Staffing<br>
                Specialist</p>
        </div>
        <div class="con40">
            <img src="https://img.freepik.com/premium-photo/programmer-twilight-zone_1275912-42312.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <p>Full-Stack <br>

                Developer</p>
        </div>
        <div class="con40">
            <img src="https://img.freepik.com/premium-photo/photo-cyber-security-system-jpg-formate_1166234-1999.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <p>Cybersecurity<br>

                Analyst</p>
        </div>
        <div class="con40">
            <img src="https://img.freepik.com/premium-photo/strategic-digital-marketing-crafting-success-modern-workspace_1312917-23449.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
            <p>Digital Marketing<br>

                Strategist</p>
        </div>
    </div>


    <div class="asosiate">
        <input type="checkbox" id="a1">
        <label for="a1">
            <div class="br1">
                <h3>AI Practitioner</h3>
                <p>Req ID: 3110881</p>
            </div>
            <div class="br1">
                <h3>Location</h3>
                <p>Gurugram, Haryana</p>
                IN
            </div>
            <div class="br1">
                <h3>Posted</h3>
                <p> 09/10/2024</p>
            </div>
            <div class="bb">
                <button>Apply now</button>
            </div>
        </label>

        <div class="content">
            <h1>Job description</h1>
            <p>Role: AI Practitiner</p>
            <hr>
            <p>Location: Gurugram/Anywhere in India<i class="fa-solid fa-ellipsis"></i></p>
            <h3> Location: Gurugram/Anywhere in India</h3>
            <p><i class="fa-regular fa-circle-dot"></i>Wipro is looking to onboard a AI Practitioner to join our AI/ML
                practice.</p>
            <h4>Roles & Responsibilities:</h4>
            <h4>Role and Responsibilities:</h4>
            <p> <i class="fa-regular fa-circle-dot"></i>To develop back-end application using python and python
                packages.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Develop required APIs for the middle layer.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Design DB schema for BI related projects.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Optimise GenAI output using prompt engineering.</p>
            <p><i class="fa-regular fa-circle-dot"></i>To develop back-end application using python and python packages.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Demonstrate solution to QA team and get QA sign-off</p>

            <h4>Qualifications:</h4>
            <h4>Required Qualifications</h4>
            <p><i class="fa-regular fa-circle-dot"></i>Hands-on with Azure services like ADF, AI Search.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Hands-on development in Python 3.5 and above.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in MS-SQL DB</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in DB design</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in developing APIs using fastAI, Django rest
                framework etc.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Exposure to Azure blob, functions and webapps and DevOps CI/CD
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Exposure to GenAi would be an added advantage.</p>
            <h3>Preferred Qualifications</h3>
            <p><i class="fa-regular fa-circle-dot"></i>Language: Proficient in English. Should be able to comprehend day
                to day conversation and convey ideas clearly.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Certification: Minimum 8 years working experience. Should have
                worked on end-to end BI and/ or Python projects.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Graduate in any stream.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Certifications in Azure or Databricks will be an added advantage.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Work Mode: Work From office (as per policy)</p>
        </div>
    </div>


    <div class="asosiate1">
        <input type="checkbox" id="a2">
        <label for="a2">
            <div class="br1">
                <h3>Automation
                    <br>Engineer
                </h3>
                <p> Req ID: 3110779</p>
            </div>
            <div class="br1">
                <h3>Location</h3>
                <p>Gurugram, Haryana</p>
                IN
            </div>
            <div class="br1">
                <h3>Posted</h3>
                <p> 09/08/2024</p>
            </div>
            <div class="bb">
                <button>Apply now</button>
            </div>
        </label>

        <div class="content1">
            <h1>Job description</h1>
            <p>Role: Automation Engineer<br>
                Req ID:3110776</p>
            <hr>
            <p>Location: Gurugram/Anywhere in India<i class="fa-solid fa-ellipsis"></i></p>
            <h3> Location: Gurugram/Anywhere in India</h3>
            <p><i class="fa-regular fa-circle-dot"></i>Wipro is looking to onboard a AI Practitioner to join our AI/ML
                practice.</p>
            <h4>Roles & Responsibilities:</h4>
            <h4>Role and Responsibilities:</h4>
            <p><i class="fa-regular fa-circle-dot"></i>To develop back-end application using python and python packages.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Develop required APIs for the middle layer.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Design DB schema for BI related projects.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Optimise GenAI output using prompt engineering.</p>
            <p><i class="fa-regular fa-circle-dot"></i>To develop back-end application using python and python packages.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Demonstrate solution to QA team and get QA sign-off</p>
            <h4>Qualifications:</h4>
            <h4>Required Qualifications</h4>
            <p><i class="fa-regular fa-circle-dot"></i>Hands-on with Azure services like ADF, AI Search.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Hands-on development in Python 3.5 and above.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in MS-SQL DB</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in DB design</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in developing APIs using fastAI, Django rest
                framework etc.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Exposure to Azure blob, functions and webapps and DevOps CI/CD
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Exposure to GenAi would be an added advantage.</p>
            <h3>Preferred Qualifications</h3>
            <p><i class="fa-regular fa-circle-dot"></i>Language: Proficient in English. Should be able to comprehend day
                to day conversation and convey ideas clearly.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Certification: Minimum 8 years working experience. Should have
                worked on end-to end BI and/ or Python projects.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Graduate in any stream.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Certifications in Azure or Databricks will be an added advantage.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Work Mode: Work From office (as per policy)</p>
        </div>
    </div>
    <div class="asosiate2">
        <input type="checkbox" id="a3">
        <label for="a3">
            <div class="br1">
                <h3>Azure Cloud <br>
                    Data Platform<br>
                    Engineer</h3>
                <p> Req ID: 3111235</p>
            </div>
            <div class="br1">
                <h3>Location</h3>
                <p>Gurugram, Haryana</p>
                IN
            </div>
            <div class="br1">
                <h3>Posted</h3>
                <p> 19/09/2024</p>
            </div>
            <div class="bb">
                <button>Apply now</button>
            </div>
        </label>

        <div class="content2">
            <h1>Job description</h1>
            <p>Role: Azure Cloud Data
                Platform
                Engineering Architect</p>
            <hr>
            <p>Location: Gurugram/Anywhere in India<i class="fa-solid fa-ellipsis"></i></p>
            <h3> Location: Gurugram/Anywhere in India</h3>
            <p><i class="fa-regular fa-circle-dot"></i>Wipro is looking to onboard a AI Practitioner to join our AI/ML
                practice.</p>
            <h4>Roles & Responsibilities:</h4>
            <h4>Role and Responsibilities:</h4>
            <p><i class="fa-regular fa-circle-dot"></i>To develop back-end application using python and python packages.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Develop required APIs for the middle layer.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Design DB schema for BI related projects.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Optimise GenAI output using prompt engineering.</p>
            <p><i class="fa-regular fa-circle-dot"></i>To develop back-end application using python and python packages.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Demonstrate solution to QA team and get QA sign-off</p>
            <h4>Qualifications:</h4>
            <h4>Required Qualifications</h4>
            <p><i class="fa-regular fa-circle-dot"></i>Hands-on with Azure services like ADF, AI Search.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Hands-on development in Python 3.5 and above.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in MS-SQL DB</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in DB design</p>
            <p><i class="fa-regular fa-circle-dot"></i>Proficiency in developing APIs using fastAI, Django rest
                framework etc.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Exposure to Azure blob, functions and webapps and DevOps CI/CD
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Exposure to GenAi would be an added advantage.</p>
            <h3>Preferred Qualifications</h3>
            <p><i class="fa-regular fa-circle-dot"></i>Language: Proficient in English. Should be able to comprehend day
                to day conversation and convey ideas clearly.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Certification: Minimum 8 years working experience. Should have
                worked on end-to end BI and/ or Python projects.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Graduate in any stream.</p>
            <p><i class="fa-regular fa-circle-dot"></i>Certifications in Azure or Databricks will be an added advantage.
            </p>
            <p><i class="fa-regular fa-circle-dot"></i>Work Mode: Work From office (as per policy)</p>
        </div>
    </div>




    <div class="container5">
        <div class="con5">
            <img src="https://img.freepik.com/free-photo/close-up-smiley-woman-with-laptop_23-2149300649.jpg?ga=GA1.1.12925914.1725513812&semt=ais_hybrid">
        </div>
        <div class="con5">
            <h1>Don’t see a role that fits?</h1>
            <p>We’re always looking for talented individuals

                to join our team. Send your resume and a cover

                letter to [careers@zuno.com], and we’ll keep your

                information on file for future opportunities.</p>
        </div>
    </div>

    <div class="container6">
        <h1>Life at ZUNO</h1>
        <img src="../Images Career/image 44.png">
        <p>At ZUNO, we believe that work should be more than just a job—it should be a place where you can grow,

            innovate, and collaborate with like-minded professionals. From team-building activities to learning
            workshops,

            we are committed to creating an environment that inspires creativity and personal development.
    </div>

    <div class="container7">
        <div class="contain7">
            <h1>Employee Benefits</h1>
            <p> Competitive Salary Packages</p>
            <p>Health & Wellness Programs</p>
            <p>Flexible Work Hours and Remote Options</p>
            <p>Professional Development and Training</p>
            Opportunities
            <p>Collaborative and Inclusive Culture</p>
            <p> Employee Recognition Programs</p>
        </div>
        <div class="con7">
            <img src="../Images Career/image 42.png">
        </div>
    </div>

    <div class="conn8">
        <h1>Ready to Make a Difference?</h1>
    </div>
    <div class="container8">
        <div class="con8">
            <h1>Empowering the Future<h1>

                    with Technology</h1>
        </div>
        <div class="con8">
            <img src="../Images Career/image 43.png">
        </div>
    </div>

    <div class="container9">
        <p>If you’re excited about joining a forward-thinking company that values innovation

            and teamwork, we’d love to hear from you. Explore our open positions or send us

            your resume today!</p>
    </div>
    <div class="footer">
        <div class="foot">
        </div>
        <div class="line">
            <div class="foot1">
                <h2>Quick Links</h2>
                <p><a href="../index.html">Home</a></p>
                <p><a href="./aboutus.html">About Us</a></p>
                <p><a href="./service.html">Services</a></p>
                <p><a href="./zunocareerspage.html">Careers</a></p>
                <p><a href="./contactus.html">Contact Us</a></p>
            </div>
            <div class="foot2">
                <h2>Services</h2>
                <p><a href="./Staffing Solutions.html">Staffing Solutions</a></p>
                <p><a href="./webdevelopment.html">Web & Mobile Development</a></p>
                <p><a href="./cloud.html">Cloud Computing</a>Cloud Computing</p>
                <p><a href="./digitalmarketing.html">Digital Marketing</a></p>
                <p><a href="./AI.html">AI Solutions</a></p>
            </div>
            <div class="foot3">
                <h2>Contact Information</h2>
                <p> Phone:+1 (800)123-4567</p>
                <p>Email:info@zunotech.com</p>
                <p> Address:123 innovation<br> drive,Suite 456,Tech city, <br>NY 10001</p>
            </div>
            <div class="foot4">
                <h2>Social Media</h2>
                <div class="icon">
                    <div class="icon1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon2"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon3"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="icon4"><i class="fa-brands fa-x-twitter"></i> </div>
                    <div class="icon5"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="icon6"><i class="fa-brands fa-snapchat"></i></div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>Copyright Notoce:</p>
            <p>2024 ZUNO. All Right Reserved</p>
            <p>Legal disclaimers and privacy policies can be linked here</p>
        </div>
    </div>
</body>

</html>